*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #fffbd5,#b20a2c);
}

input {
    display: block;
    padding: 1rem;
    margin: .5rem 0 .5rem 0;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    font-style: oblique;
}

.input_button {
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    background-color: #b20a2c;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box {
    background: rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 10px;
}

.container .input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
}

.container .input_wrapper .radio_group {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: .5rem;
}

.error {
    color: red;
}

#admin {
    margin: 0 .3rem 0 0;
}

#normal {
    margin: 0 .3rem 0 1rem;
}
