*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 100%;
    background-image: linear-gradient(to right, #B993D6,#8CA6DB);
}

input {
    display: block;
    padding: 1rem;
    margin: .5rem 0 .5rem 0;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    font-style: oblique;
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-right: 40px;
}
 
li {
    height: 40vh;
    flex-grow: 1;
}

li:last-child {
    flex-grow: 10;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

a.btn {
    display: flex;
    justify-content: center;
    appearance: button;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-style: normal;
    width: 30%;
    min-width: 100px;
    max-width: 1000px;
    font-size: 1.3rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 900;
    color: initial;
    background-color: rgba(255,255,255,0.7);
}

.btn_logout {
    appearance: button;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-style: normal;
    font-size: 1.3rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 900;
    color: initial;
    background-color: rgba(255,255,255,0.7);
}

.input_button {
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    background-color: #8CA6DB
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box {
    background: rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 10px;
}

.container .input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
}

.container .input_wrapper .radio_group {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: .5rem;
}

.error {
    color: red;
}

.success {
    color: limegreen;
}

.hello {
    margin-top: 2rem;
}
